# Django Core Settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-change-me-in-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*
CORS_ALLOWED_ORIGINS=http://localhost:3000

# AI Backends
USE_LOCAL_LLM=true
# Alternatively you can remove the gemini ai key and it will fallback to local llm
GOOGLE_API_KEY=your-gemini-api-key-here
